doctype html

head
  title= title

  link(rel='stylesheet' href='/site.scss')
  script(src='http://localhost:35729/livereload.js')

body

  // Use `include file.pug` to include additional template files
  // include header.pug

  div templates: views/layout.pug

  // The message is defined in data/index.js 
  div= message

  // Images and other static files are in /static
  div files: static/*
  p: img(src='/images/image.png')
  script(src='/app.js')